.label {
   display: block;
   font-size: 20px;
}
.input {
   display: block;
   margin-top: 5px;
   margin-bottom: 15px;
   border-radius: 3px;
   border: 1px solid grey;
}
.input:focus,
.input:hover {
   box-shadow: 0 0 3px 3px rgba(62, 98, 255, 0.452);
}
